/*
black:  #212121
blue:   #2196F3
white:  #D1D1D1
green:  #00E676
red:    #EF5350
*/

body {
    background:#212121;
    font-size:1vw;
    font-family: 'Roboto', sans-serif;
    color:#D1D1D1;
    user-select: none;
}
*::-webkit-input-placeholder {
    color: #D1D1D1;
}
*::-moz-placeholder {
    color: #D1D1D1;
}
*:-ms-input-placeholder {
    color: #D1D1D1;
}
*:-moz-placeholder {
    color: #D1D1D1;
}
#login-container {
    height:100%;
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content: space-around;
}
#login-container .form-button {
    width:100%;
}
#login-logo {
    flex-basis:50vw;
    width:90vw;
    flex-shrink:1;
    background:url('logo.svg') no-repeat;
    background-position:center;
    background-size:contain;
}
#login_button {
    display:block;
    width:100%;
}
#register_button {
    display:block;
    margin:0;
}
a {
    outline:none;
    text-decoration: none;
}
a:active, a:focus {
    outline:none;
}
form {
    display:flex;
    flex-shrink:0;
    flex-flow: column nowrap;
    align-items: center;
    justify-content:flex-end;
    width:100%;
    padding:2vw;
    box-sizing:border-box;
}
form * {
    box-sizing:padding-box;
    margin:3vw 0;
}
.form-textbox {
    border:none;
    user-select: auto;
    border-bottom:0.5vw solid #757575;
    background:none;
    align-self:stretch;
    text-align:center;
    padding:0.3em 0.4em;
    font-size:5em;
    color: #D1D1D1;
    transition: border-bottom-color 0.3s;
}
.form-textbox:active, .form-textbox:focus {
    outline:none;
    border-bottom-color:#2196F3;
}
.form-button {
    flex-grow: 0;
    cursor:pointer;
    font-size:5em;
    margin-top:0.5em;
    margin-bottom:0;
    background:#2196F3;
    position:relative;
    display:block;
    color:white;
    border-radius:3px;
    border:none;
    padding:0.4em 0;
    box-shadow:1px 5px 20px -5px rgba(0,0,0,0.8);
}
.form-link {
    border:none;
    background:none;
    cursor:pointer;
    color:#28A2FF;
    font-size:5em;
    margin:0 0 0 0;
}

#sidebar {
    display:flex;
    flex-flow: column nowrap;
    min-width:60vw;
    position:absolute;
    height:100%;
    overflow:scroll;
    top:0;
    z-index:1;
    background:#333;
    box-shadow:0 0 1em 0 black;
}
.sidebar-item {
    display:block;
    width:100%;
    padding: 5vw 3vw;
    box-sizing:border-box;
    border-top:1px solid #555;
    border-bottom:1px solid #000;
    font-size: 7em;
    color:#D1D1D1;
    cursor:pointer;
}
.sidebar-item:first-child {
    border-top:none;
}
#sidebar-dash-button {
    font-size:1em;
    text-align: center;
}
#sidebar-dash-button * {
    display:inline-block;
}
#sidebar .tiny-text {
    margin:0 0 1em 0;
}
.gain .coin-gain, .big-text.gain{
    color:#00E676;
}
.loss .coin-gain, .big-text.loss{
    color:#EF5350;
}
.medium-text.gain {
    color:#00E676;
}
.medium-text.loss {
    color:#EF5350;
}
.sidebar-item.loss {
    border-right: 0.15em solid #EF5350;
    box-shadow:inset -35px 0 50px -50px #EF5350;
}
.sidebar-item.gain {
    border-right: 0.15em solid #00E676;
    box-shadow:inset -35px 0 50px -50px #00E676;
}
.coin-info {
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
}
.coin-name {
    
}
.coin-gain {
    font-size:0.6em;
    font-weight:bold;
    opacity:0.3;
}

.content {
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-content: center;
    overflow-x:hidden;
    height:95%;
    width:100%;
}
#dash-content {
    justify-content: space-between;
}
#dash-content .tab-bar .tab-button {
    opacity:0;
}
.graph {
    width:90vw;
    padding:10vw 5vw 0 5vw;
    flex-basis:60vh;
    display:flex;
    flex-flow:column nowrap;
    justify-content: flex-end;
    background:#252525;
    box-shadow:0 15px 15px -15px black;
}
#dash-graph {
    width:100%;
    height:70vw;
}
.graph-controls {
    width:100%;
    display:flex;
    flex-flow:row nowrap;
}
.graph-controls * {
    flex: 1 1;
}
.tab-button {
    text-align:center;
    color:#757575;
    font-weight:bold;
    font-size:4em;
    padding:0.5em 0.5em;
    margin:0 0.5em;
    border-bottom:0.14em solid transparent;
    box-shadow: 0 15px 30px -12px transparent;
    transition: border-bottom-color 0.3s, box-shadow 0.3s;
    cursor:pointer;
}
.graph-controls .tab-button:first-child {
    box-shadow: 0 15px 30px -12px rgba(33,150,243, 0.8);
}
.big-text {
    font-size:10em;
}
.medium-text {
    font-size:5em;
}
.tiny-text {
    font-size:3em;
}
#dash-content .big-text, #dash-content .medium-text {
    margin-top:0.5em;
}
#sell-btn {
    width:auto;
    padding-left:4em;
    padding-right:4em;
}

#gain {
    margin-bottom:1em;
}
#profile-graph {
    width:100%;
    height:60vw;
}
#profile-title {
    margin-top:0.5em;
    text-align: center;
}
#profile-content input[type='radio'] {
    display:none;
}
#profile-content label {
    display:button;
    text-align: center;
    width:auto;
    padding-left:2em;
    padding-right:2em;
    color:white;
    margin-top:0.5em;
}
.tab-bar {
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content: center;
}
.tab-bar .tab-button {
    font-size:5em;
    padding-left:2em;
    padding-right:2em;
    padding-top:1em;
    border-bottom:0.2em solid transparent;
}
.tab-button:first-child {
    border-bottom-color:#2196F3;
}
.screens {
    display:flex;
    flex-flow:row nowrap;
    flex-grow:1;
    align-self:flex-start;
    align-items:stretch;
}
.screen {
    position:relative;
    display:inline-block;
    margin-left:0;
    left:0;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
    width:100vw;
    transition:margin-left cubic-bezier(.07,.99,.49,.99) 0.15s;
}
#menu-btn {
    position:absolute;
    top:0;
    left:0;
    background-image:url('ham-menu-icon.svg') no-repeat;
    background-position:center;
    background-size:cover;
}
.trade-buttons {
    flex-shrink: 0;
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-self:stretch;
}
#profile-content .screen:nth-child(2) .form-button {
    align-self:stretch;
    flex-shrink: 0;
    margin:0.5em;
}
#profile-content .form-button {
    padding:0.5em 3em;
}
.trade-buttons .form-button {
    flex-grow:1;
    margin: 0 0.5em;
}
#profile-content .screen:nth-child(2) {
    justify-content:flex-end;
}
#profile-content .form-textbox {
    margin-top:1em;
    text-align: center;
}
#profile-content label {
    transition:none;
}
#buy:checked+label {
    background:#154567;
}
#sell:checked+label {
    background:#154567;
}
#profile-content .graph {
    flex-basis:auto;
    padding-top:10px;
    justify-content: flex-end;
    margin-bottom:5em;
    background: linear-gradient(to bottom, #212121, #252525);
}